header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}
header img{
    width: 100px;
    height: 40px;
}
header nav{
    margin-top: 10px;
}
.nav{
    display: none;
}
.login{
    margin-top: 10px;
    display: none;
}
header a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
header a:hover{
    color: #ed1c24;
}
header button{
    border: solid whitesmoke 3px;
    border-radius: 25px;
    height: 40px;
    width: 120px;
    color: #ed1c24;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}
header button:hover{
    color: black;
    border: solid #ed1c24 1px;
    cursor: pointer;

}
.get{
    margin-top: 30px;
    justify-items: center;
}
.get h1{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 330px;
    text-align: center;
}
.get h3{
    font-weight: 100;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.get button{
    margin-left: 38%;
    background-color: #ed1c24;
    color: white;
    font-weight: 600;   
    font-size: 25px;
    width: 300px;
    height: 55px; 
    border: none;
    border-radius: 30px;
}
.get button:hover{
    filter: contrast(60%);
    cursor: pointer;
}
.section1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.section1 h1{
    font-size: 45px;
    line-height: 47px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 330px;
}
.section1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section1 img{
    width: 550px;
}
.text{
    width: 375px;
}
.section2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.section2 img{
    width: 550px;
}
.section2 h1{
    font-size: 45px;
    line-height: 47px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 330px;
}
.section2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text1{
    width: 370px;
}
.text2{
    width: 370px;
}
.image2{
    align-self: center;
}
.text3{
    width: 370px;
}
.text4{
    width: 370px;
}
.p{
    justify-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    width: 450px;
    text-align: center;
}
.section3{
    justify-content: center;
    gap: 50px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section3 img{
    margin-left: 150px;
}
.text5{
    width: 370px;
    text-align: center;
}
.start{
    margin-left: 38%;
    background-color: #ed1c24;
    color: white;
    font-weight: 600;   
    font-size: 25px;
    width: 300px;
    height: 55px; 
    border: none;
    border-radius: 30px;
}
.start button:hover{
    filter: contrast(60%);
    cursor: pointer;
}
.image{
    margin-top: 120px;
    justify-self: center;
}
.blog{
    justify-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.blog a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
.blog a:hover{
    color: #ed1c24;
    cursor: pointer;
}
@media (max-width: 768px){
    header nav{
        display: none;
    }
    .nav{
        display: block;
        margin-left: 250px;
        font-size: 17px;
        margin-top: 15px;
    }
    .nav a{
        text-decoration: none;
        color: black;
        margin-right: 25px;
    }
    .login{
        display: block;
        margin-left: 450px;
    }
    .get button{
        margin-left: 220px;
    }
    .section1 img{
        width: 400px;
    }
    .section2 img{
        width: 400px;
    }
    .section3 img{
        margin-left: 90px;
    }
    .text5{
        width: 250px;
    }
    .start{
        margin-left: 220px;
    }
}
@media (max-width: 425px){
    
}
